html{
    height: 100%;
}

body{
    height: 100%;
}

.wrapper {
    min-height: 100%; /*減去footer高度*/
    position: relative;
}

#navbar{
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 20;
    width: 100%;
    top: 0;
    position: fixed;
}

.logo {
    width: 150px;
    position:absolute;
    left:10px;
    top:10px;
    mix-blend-mode: multiply;
}

.nav-link {
    border-radius: 25px;
    margin:20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80px;
    text-align: center;    
}

.navbar-toggler{
    margin-bottom: 10px;
}

/*
@media only screen and (max-width:990px){
    .logo {
        width: 150px;
        position:absolute;
        left:auto;
        top:0px;
    }
}*/

/*-------------------------------------------------------------------------------------------------------------*/

#login_register{
    
    padding-bottom: 80px;
    padding-top: 80px;
    color: rgb(190, 92, 243);
}
#login_register .card {
    margin-top: 80px;
    background-color: rgb(41, 11, 42);
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    border-radius: 20px;
}

#login_register .card > div>input{
    margin-top: 30px;
    border-radius: 45px;
    margin-bottom: 30px;
    outline:none;
    font-size: 25px;
    background-color: rgb(41, 11, 42);
    border: rgb(74, 173, 235) 5px solid;
    color: rgb(255, 255, 255);
    text-align: center;
}

#login_register .card [type="submit"]{
    background-color: rgb(41, 11, 42);
    border-radius: 45px;
    border: rgb(240, 51, 192) 5px solid;
    color: rgb(255, 255, 255);
}

#login_register .card [type="submit"]:hover{
    background-color: rgb(240, 51, 192);
    border-radius: 45px;
    border: rgb(240, 51, 192) 5px solid;
    color: rgb(255, 255, 255);
}

#bbg{
    background-color: aqua;
    background-image: url(../img/login_register_bg4.PNG);
    background-size: cover;
    margin-top: 0px;
}

/*--------------------------------------------------------------------------------------------------*/

#intro .jumbotorn {
    background-image: url(../img/select_bg.PNG);
    background-size: cover;
    padding-bottom: 30px;
    margin-top: 0px;
}

#intro .container {
    /*font-family: 'Noto Serif TC', serif;*/
    font-family: 微軟正黑體;
    font-size: larger;
    font-weight: 700;
    color:rgba(95, 57, 145, 0.803);
}

#intro .title {
    padding: 30px;
    font-weight: 800;
}

#intro p {
    font-size: 20px;
    font-size: 30px;
}

#intro img{
    mix-blend-mode:multiply;
    padding: 0px;
}

#ball {
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#sharebtn {
    background-color:rgb(255,97,214);
    color :azure;
    font-weight: 900;
}
#donatebtn {
    background-color: rgb(30, 154, 199);
    color :azure;
    font-weight: 900;
}
#loginbtn {
    background-color:rgb(8, 226, 200) ;
    color :azure;
    font-weight: 900;
}
#suggestbtn {
    background-color: rgb(155, 128, 245);
    color :azure;
    font-weight: 900;
}

/*-------------------------------------------*/

#operate .jumbotorn {
    background-color:rgb(255, 255, 255);
    background-size: cover;
    padding: 40px;
    padding-bottom: 100px;
}

#operate .btnbg {
    background-color:rgb(137, 81, 8);
}

#operate button {
    border-radius: 5px;
    border: none;
    font-size: 25px;
    width: 100%;
}

#operate input,#operate a{
    background-image: url(../img/select_bg.PNG);
    background-size: cover;
    width: 100%;
    height: 100%;
    border: none;
    color:rgb(113, 81, 133);
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
}

#operate .drop-item :hover,#operate .touch :hover,#operate .drop-item :visited{
    color:rgb(189, 29, 238);
    font-size: 28px;
    padding: 17px;
}

#download_btn{
    text-decoration: none;
    display: block;
    margin-top: 10px;
    margin-bottom: -10px;
    text-align: center;
    cursor: default;
}

/*
pink rgb(255,97,214)
blue rgb(0,176,240)
purple rgb(166,141,247)
*/
    
/*my*/
#operate .drop-menu { /* 取消ul預設的內縮及樣式 */
    margin-bottom: 30px;
}

/*
#operate .drop-group {
    visibility:hidden;
    display:block;
}

#operate .touch:hover ~ .drop-group {
    visibility:visible;
    display:block;
    color:rgb(152, 17, 123);
}

#operate .drop-group:hover>.drop-item{
    visibility:visible;
    display:block;
    color:rgb(152, 17, 123);
}
*/

#operate .operate_title{
    font-size: 40px;
    font-weight: 900;
    background-image: url(../img/select_bg.PNG);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/*------------------------------------------------------------------------------*/



/*-------------------------------------------------------------------------------*/
#footer{
    box-sizing: border-box;
    width: 100%;
    bottom: 0;
    /*position: absolute;*/
}

#footer .jumbotorn {
    background-image: url(../img/select_bg.PNG);
    background-size:cover;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    box-sizing: border-box;
}

#footer a,#footer p{
    color:rgb(159, 120, 184);
    font-weight: 900;
    font-size: 20px;
}

#footer .footer_title{
    font-weight: 900;
    font-size: 30px;
}

#footer a{
    outline: none;
    border: none;
    text-decoration:none;
}

#footer #footer-logo{
    height: 60px;
}
/*-----------------------------------------------------------------------------------------------------*/
#footer .login_jumbotorn {
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 20px;
    padding-bottom: 20px;
    
}
/*----------------------------------------------------------------------------------------------------*/
