<!DOCTYPE html>
<!--
<div>
    <section id="footer">
        <div class="login_jumbotorn">
            <div class="col-md-6 offset-3">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="footer_title">更多服務</p>
                            </div>
                            <div class="col-md-12">
                                <a href="#">
                                    <p>立即登入</p>
                                </a>
                            </div>
                            <div class="col-md-12">
                                <a href="#">
                                    <p>上傳分享</p>
                                </a>
                            </div>
                            <div class="col-md-12">
                                <a href="#">
                                    <p>支持我們</p>
                                </a>
                            </div>
                            <div class="col-md-12">
                                <a href="#">
                                    <p>回饋建議</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="footer_title">關於我們</p>
                            </div>
                            <div class="col-md-12">
                                <a href="#">
                                    <p>工作夥伴</p>
                                </a>
                            </div>
                            <div class="col-md-12">
                                <a href="#">
                                    <p>開發紀錄</p>
                                </a>
                            </div>
                            <div class="col-md-12">
                                <a href="#">
                                    <p>最新消息</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="footer_title">合作項目</p>
                            </div>
                            <div class="col-md-12">
                                <a href="#">
                                    <p>廣告放置</p>
                                </a>
                            </div>
                            <div class="col-md-12">
                                <a href="#">
                                    <p>業務洽談</p>
                                </a>
                            </div>
                            <div class="col-md-12">
                                <a href="#">
                                    <p>隱私權政策</p>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3 text-center">
                        <a href="#"><img id="footer-logo" src="static/img/bittobeatlogo.PNG"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
-->
